@charset 'utf-8';

 /* @media(max-width:768px){}
 @media(min-width:768px){}
 @media(min-width:992px){}
 @media(min-width:1200px){} */
 html {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
	-webkit-text-size-adjust:none
}

ul {
	text-indent: 0;
	font-weight: normal;
}

body {
	background-color: #fff;
	font-size: 1.6rem;
	font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	overflow-x: hidden;
	line-height: 1.6;
}


/*覆盖浏览器默认样式*/

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

a,
button,
input {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}


/*共用样式*/

.font_w {
	font-weight: bold;
}

.img_wrap>img {
	width: 100%;
	display: block;
}

.div_wrap {
	width: 100%;
}

.inline_block {
	display: inline-block;
}

.block_block {
	display: block;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.text_overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.position_rel {
	position: relative
}

.clearFix:after,
.clearFix:before {
	content: "";
	display: block;
	clear: both;
}
.w-container {
	width: 1000px;
	margin: auto;
}

.w-silde {
	padding-left: 1rem;
	padding-right: 1rem;
}

/*bg*/
.part{
	min-width: 1000px; /*移动端正常显示*/
	padding-bottom: 80px;
}
 .minWidth{
	 min-width: 1000px;
 }
.bg1{}



/*tit*/
.tit{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 40px;
}
.tit h3{
    font-size: 38px;
    color: #333;
    font-weight: normal;
}
.tit h3 span{

}
.tit p{
    font-size: 20px;
	color: #999;
}
.tit_1 h3{
    color: #fff;
}


 /*按钮*/
 .link_a{
	 text-align: center;
	 margin-top: 40px;
 }
 .link_a a{
	 display: inline-block;
	 border:1px solid #3e71cc;
	 color: #3e71cc;
	 font-size: 18px;
	 width: 250px;
	 height: 52px;
	 line-height: 50px;
	 border-radius: 8px;
	 position: relative;
	 z-index: 1;
 }
 .link_a a span{
	 display: block;
	 position: relative;
	 z-index: 2;
	 color: #3e71cc \9;
	 background: transparent \9;
 }
 .link_a a:after{
	 content: '';
	 position: absolute;
	 top:0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-radius: 8px;
	 background: #3e71cc;
	 background: transparent \9;

	 transform: scale(0.1, 1);
	 transition: 0.4s;
	 opacity: 0;
	 z-index: 0;
	 color: #fff;
	 filter:alpha(opacity=0);
 }
 .link_a a:hover{
	 color: #fff;
	 border:1px solid #fff;
 }
 .link_a a:hover:after{
	 transform: scale(1);
	 transition: 0.4s;
	 opacity: 1;
	 filter:alpha(opacity=100);
 }
 .link_a a:hover span{
	 color: #fff \9;
	 background: #3e71cc \9;
 }

/*banner部分*/


 /* 二级页面 */
.banner-img{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.banner-img img{
	position: absolute;
	top: 0;
	left:50%;
	margin-left: -960px;
}

 /*footer*/
 .footer{
	 width: 100%;
	 color: #646464;
	 font-size: 14px;
	 text-align: center;
	 background: #0e0e0e;
	 padding: 20px;
	 min-width: 1000px;
 }
/* global */
.contentWrapper{
	width: 100%;
	margin: auto;
}

/* 导航 */
.nav-wrapper{position: relative; z-index: 100;}
.nav-wrapper .container{
	padding-left:0 ;
	padding-right: 0;
}
.navbar-toggle .icon-bar{
	background: #646464;
}
.logo-brand{
	display: flex;
	align-items: center;
 	height: 60px; 
	padding: 0;
	font-size: 18px;
	line-height: 1;
}
.logo-brand>img{
	height: 40px;
}
.logo-brand>span{
	margin-left: 15px;
	padding-left: 15px;
	display: inline-block;
	border-left: 1px solid #ef9a48;
	color: #ef9a48;
	line-height: 40px;
}
.navbar {
	position: relative;
	height: 60px;
	margin-bottom:0;
	border: 1px solid transparent;
}
@media(max-width:768px){
	.logo-brand>img{
		width: auto;
	}
	.nav-right{
		background: rgb(255, 255, 255);
    margin-left: -16px;
    margin-right: -16px;
	 }
	 .navbar .nav>li{
		 border-bottom: 1px solid #f1f1f1;
	 }
	 .navbar .nav>li a{
		 font-size: 18px;
		 color: #333;
	 }
	 .navbar .nav>li:last-child{
		 border-bottom: none;
	 }
	 .navbar .nav-right{
		 box-shadow:0 10px 15px rgba(0, 0, 0, 0.05);
	 }
}
@media(min-width:768px){
.navbar-nav>li>a {
		padding: 0 20px;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
		color: #333;
}
.navbar-nav>li>a:active,
.navbar-nav>li>a:link{
	background: transparent;
}
.navbar-nav>li>a:hover,
.navbar-nav>li.active a{
	font-weight: 500;
	color: #fff;
	background: #f15e04;
}
.nav-tel{
	position: relative;
	padding-left: 20px;
	height: 60px;
	line-height: 60px;
}
.nav-tel::after{
	content: "";
	display: block;
	clear: both;
	position: absolute;
	left: 0;
	top: 2px;
	width: 20px;
	height: 20px;
	background: url("../img/global/dianhua.png") no-repeat center;
}
.nav-right{
	float: right;
}
}
@media(min-width:992px){
	.contentWrapper{
		width: 1000px;
	}
	.banner-form{
		right: 10%;
	}
}

@media(min-width:1200px){
	.contentWrapper{
		width: 1200px;
	}
	.nav-right{
		float: right;
	}
}


 /* .list{
	 display: flex;
	 justify-content: space-between;
 }
 .list li{
 
} */