 html {
	font-size: 62.5%;
}

* {
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
	-webkit-text-size-adjust:none
}

ul {
	text-indent: 0;
	font-weight: normal;
}

body {
	background-color: #fff;
	font-size: 1.6rem;
	font-family: 'Microsoft YaHei', Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	overflow-x: hidden;
	line-height: 1.6;
}


/*覆盖浏览器默认样式*/

a {
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: none !important;
}

a,
button,
input {
	-webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}


/*共用样式*/

.font_w {
	font-weight: bold;
}

.img_wrap>img {
	width: 100%;
	display: block;
}

.div_wrap {
	width: 100%;
}

.inline_block {
	display: inline-block;
}

.block_block {
	display: block;
}

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.text_overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.position_rel {
	position: relative
}

.clearFix:after,
.clearFix:before {
	content: "";
	display: block;
	clear: both;
}
.w-container {
	width: 1000px;
	margin: auto;
}

.w-silde {
	padding-left: 1rem;
	padding-right: 1rem;
}

/*bg*/
.part{
	min-width: 1000px; /*移动端正常显示*/
	padding-bottom: 80px;
}
 .minWidth{
	 min-width: 1000px;
 }
.bg1{}



/*tit*/
.tit{
    text-align: center;
    padding-top: 60px;
    margin-bottom: 40px;
}
.tit h3{
    font-size: 38px;
    color: #333;
    font-weight: normal;
}
.tit h3 span{

}
.tit p{
    font-size: 20px;
	color: #999;
}
.tit_1 h3{
    color: #fff;
}


 /*按钮*/
 .link_a{
	 text-align: center;
	 margin-top: 40px;
 }
 .link_a a{
	 display: inline-block;
	 border:1px solid #3e71cc;
	 color: #3e71cc;
	 font-size: 18px;
	 width: 250px;
	 height: 52px;
	 line-height: 50px;
	 border-radius: 8px;
	 position: relative;
	 z-index: 1;
 }
 .link_a a span{
	 display: block;
	 position: relative;
	 z-index: 2;
	 color: #3e71cc \9;
	 background: transparent \9;
 }
 .link_a a:after{
	 content: '';
	 position: absolute;
	 top:0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-radius: 8px;
	 background: #3e71cc;
	 background: transparent \9;

	 transform: scale(0.1, 1);
	 transition: 0.4s;
	 opacity: 0;
	 z-index: 0;
	 color: #fff;
	 filter:alpha(opacity=0);
 }
 .link_a a:hover{
	 color: #fff;
	 border:1px solid #fff;
 }
 .link_a a:hover:after{
	 transform: scale(1);
	 transition: 0.4s;
	 opacity: 1;
	 filter:alpha(opacity=100);
 }
 .link_a a:hover span{
	 color: #fff \9;
	 background: #3e71cc \9;
 }


 /*banner*/
 .banner{
	 margin:0 auto;
	 width:100%;
	 min-width: 1000px;
	 height:600px;
	 overflow:hidden;
	 background:#818181;
 }
 #banner{
	 width:100%;
	 height:600px;
	 overflow:hidden;
 }



 .banner-img a{
	 display: block;
	 width: 100%;
	 height: 600px;
 }
/*當banner圖不是輪播圖的時候*/
/* .banner-img a{
	 display: block;
	 width: 100%;
	 height: 600px;
	 position: relative;
 }
 .banner-img a > img{
	 top:0;
	 left:50%;
	 margin-left:-960px;
	 position:absolute;
 }*/
 #banner .swiper-slide{
	 position:relative;
	 overflow:hidden;
 }
 #banner .swiper-slide img{
	 top:0;
	 left:50%;
	 margin-left:-960px;
	 position:absolute;
 }
 #banner .pagination {
	 bottom:15px;
	 width:100%;
	 z-index:20;
	 text-align:center;
	 position:absolute;
 }
 #banner .swiper-pagination-switch {
	 margin:0 5px;
	 width:12px;
	 height:12px;
	 cursor:pointer;
	 display:inline-block;
	 background: rgba(255,255,255,0.2);
	 border-radius: 100%;
 }
 #banner .swiper-active-switch {
	 background: rgba(255,255,255,0.6);
 }
.banner-img{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.banner-img img{
	position: absolute;
	top: 0;
	left:50%;
	margin-left: -960px;
}

 /*footer*/
 .footer{
	 width: 100%;
	 color: #646464;
	 font-size: 14px;
	 text-align: center;
	 background: #0e0e0e;
	 padding: 20px;
	 min-width: 1000px;
 }
/* global */
.contentWrapper{
	width: 100%;
	margin: auto;
}

/* 导航 */
.navbar-toggle .icon-bar{
	background: #646464;
}
 @media(min-width:768px){

 }
 @media(min-width:992px){
	.contentWrapper{
		width: 1000px;
	}
 }

 @media(min-width:1200px){
	  .contentWrapper{
			width: 1200px;
		}
		.nav-right{
			float: right;
		}
 }