/*banner*/
.uidWrapper .banner-wrapper{
 
}
.optionPart .title-wrapper{
  padding-top: 30px;
}
.index-part3{
  padding-bottom: 0;
}
.part2{
  margin-top: 100px;
}
.part2 .global-btn{
  margin-top: 50px;
}
.part5 .global-btn{
  margin-top: 50px;
}
.part5{
  padding-bottom: 0;
}
.part7 .global-btn{
  margin-top: 50px;
  margin-bottom: 70px;
}
.part1{
  margin-top: 100px;
  background-image: linear-gradient(to bottom,#fef8f2, #fff);
}

/* 免费获取方案 */
.optionPart{
  background: transparent;
}
.j-opt--single{
  display: flex;
  justify-content: space-between;
}
.j-opt--single span{
  flex: 1;
}
.j-opt--single span:nth-child(2){
  margin: 0 20px;
}
.opts3{
  display: flex;
  justify-content: space-between;
}
.opts3 span{
  flex: 1;
}

/*中考是孩子未来第一场战场*/
 
.child-life-list{
  display: flex;
  align-items:stretch
}
.child-life-list .item{
  width: 50%;
  background: #fdedde;
}
.child-life-list .item:nth-child(1) img{
  display: block;
}
.child-life-list .item2{
  padding: 75px 40px 0;
}
.child-life-list .item p{
  line-height: 2.1;
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.child-life-list .item2 .global-btn{
  margin-top: 40px;
}

/* 睿凡注重提升孩子5大能力 */
.child-ability-index .list{
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}
.child-ability-index .list {
  margin-left: -15px;
  margin-right: -15px;
}
.child-ability-index .list>div {
  width: 50%;;
  padding-left: 8px;
  padding-right: 8px;
  
}
.child-ability-index .list .item {
  padding:0;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #f15e04;
}
.child-ability-index .list .item .icon img{
  width: 100%;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #f15e04;
}
.child-ability-index .list .item h2 {
  padding: 30px 0 20px;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
   color:#f15e04;
}
.child-ability-index .list .item p{
  padding: 0 35px 25px;
  color: #333;
  font-size: 16px;
}
.child-ability-index .global-btn{
  margin-top: 40px;
}
/*年中考学魁喜报榜*/
.child-result-index .list{
  display: flex;
  justify-content:space-between;
}
.child-result-index .list {
  margin-left: -15px;
  margin-right: -15px;
}
.child-result-index .list>div {
  width: 20%;;
  padding-left: 8px;
  padding-right: 8px;
  
}
.child-result-index .list .item {
  padding: 5px 5px 0;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  background: #f15e04;
}
.child-result-index .list .item .icon {
  text-align: center;
}
.child-result-index .list .item .icon img{
  width: 100%;
}
.child-result-index .list .item h2 {
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
   color: #fff;
}
.child-result-index .list .item h2 em{
  font-weight: bold;
}
.child-result-index .list .item h2 span{
  padding-top: 4px;
  display: block;
}
.child-result-index .global-btn,
.child-plane-index .global-btn,
.index-part1 .global-btn,
.zixun-index .global-btn{
  margin:50px 0 0;
}

/* 初中全年级全科目定制学习方案 提分不再难 */
.child-plane-index .plane-kecheng,
.child-plane-index .plane-cont{
  display: flex;
  justify-content: space-between;
}
.child-plane-index .plane-kecheng{
  margin-bottom: 40px;
}
.child-plane-index .plane-kecheng li{
  padding: 0 40px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  border: 1px solid #15a153;
  font-weight: normal;
  font-size: 24px;
  color: #15a153;
}
.child-plane-index .plane-kecheng li:nth-child(1){
  border: 1px solid #15a153;
  color: #15a153;
}
.child-plane-index .plane-kecheng li:nth-child(2){
  border: 1px solid #fe6c53;
  color: #fe6c53;
}

.child-plane-index .plane-kecheng li:nth-child(3){
  border: 1px solid #609bd2;
  color: #609bd2;
}
.child-plane-index .plane-kecheng li:nth-child(4){
  border: 1px solid #f39800;
  color: #f39800;
}
.child-plane-index .plane-kecheng li:nth-child(5){
  border: 1px solid #009944;
  color: #009944;
}
.child-plane-index .plane-kecheng li:nth-child(6){
  border: 1px solid #fe6c53;
  color: #fe6c53;
}
.child-plane-index .plane-kecheng li:nth-child(7){
  border: 1px solid #448aca;
  color: #448aca;
}
.child-plane-index .plane-cont li{
  flex: 1;
  position: relative;
}
.child-plane-index .plane-cont li img{
  width: 100%;
}
.child-plane-index .plane-cont li p{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.child-plane-index .plane-cont li p span{
  display: block;
}
 /* part1 */
 .index-part1{
   padding-bottom: 0;
 }
 /* 2021河南中考资讯 */
 .zixun{
    
 }
.zixun-list{
  display: flex;
  align-items: stretch;
  border: 1px solid #f15e04;
}
.zixun-list > div:nth-child(1){
  width: 54%;
  flex: 0 0 54%;
}
.zixun-list > div:nth-child(2){
  width: 46%;
  flex: 0 0 46%;
}
.zixun-list .left{
  padding: 8px;
  background: #fb9c64;
}
.zixun-list .left img{
  width: 100%;
}
.zixun-list .left p{
  padding: 10px 0 10px;
 font-size: 20px;
 color: #fff; 
 text-align: center;
}
.zixun-list .left p a{
  margin-left: 15px;
  text-decoration: underline;
  color: #fff;
}
.zixun-list .left p a{
  text-decoration: underline;
}
.zixun-list .right h2{
  margin:30px 0 30px;
  text-align: center;
  font-size: 36px;
  color: #000;
}
.zixun-list .right h2 span{
  padding: 0 10px;
  margin: 0 3px;
  display: inline;
  border: 1px solid #f15e04;
  font-size: 40px;
  font-weight: bold;
  color: #f15e04;
  border-radius: 4px;
}
.zixun-list .right .right-list{
  padding: 0 25px;
}
.zixun-list .right .right-list li{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding: 0 20px 0 40px;
  height: 73px;
  line-height: 73px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.zixun-list .right .right-list li p{
  position: relative;
  color: #f15e04;
  font-size: 20px;
}
.zixun-list .right .right-list li p::after{
  content: '';
  display: block;
  clear: both;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 50%;
  margin-top: -4px;
  left: -20px;
  background: #f15e04;
}
.zixun-list .right .right-list li a{
  color: #f15e04;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}
.zixun-list .right .right-list li a:hover{
  text-decoration: underline;
}
/* 考试只是工具 */
.index-part1 .list .item::after{
  background: #f15e04 !important;
}
.index-part1 .list .item{
  padding: 5px 12px 20px;
  border: 1px solid #f15e04;
  background: #fff;
}
.index-part1 .list .item h2{
  padding-top: 10px;
}



/* 767 */
@media(max-width:767px){
  .child-result-index .global-btn, .child-plane-index .global-btn{
    margin:30px 0 10px;
  }
  .child-result-index .global-btn, .child-plane-index .global-btn, .index-part1 .global-btn, .zixun-index .global-btn {
    margin:30px 0 20px;
}
.part7 .global-btn{
  margin-top: 30px;
  margin-bottom: 40px;
}
  .title-wrapper span.year img{
    width: 90px;
  }
  .part1{
    margin-top: 50px;
    padding-top: 10px;
  }
  .part2{
    margin-top: 0;
  }
  .uidWrapper .banner-wrapper .slideimg1{
    display: flex;
    align-items: center;
  }
  .uidWrapper .banner-wrapper .slideimg1 .left-text{
    width: 90%;
  }
  .uidWrapper .banner-wrapper .slideimg1 {
    display: flex;
    align-items: center;
    background: url('../img/zhongkao/gaokaobanner-bg.jpg') no-repeat center bottom;
    background-size: cover;
  }
  .child-life-content{
    padding-top: 0;
  }
  .child-life-list .item{
    width: 100%;
  }
  .child-life-list .item2{
    padding: 30px 15px 40px;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 20px;
  }

  .child-ability-index .list{
    flex-wrap: wrap;
  }
  .child-ability-index .list{
    padding-left: 7px;
    padding-right: 7px;
  }
  .child-ability-index .list .item h2 {
    padding: 15px 0;
    font-size: 14px;
  }
  .child-ability-index .list .item p{
    padding: 0 10px 10px;
    font-size: 14px;
  }
  .child-result-index .list{
    padding-left: 7px;
    padding-right: 7px;
  }
  .child-result-index .list{
    flex-wrap: wrap;
  }
  .child-result-index .list>div:nth-child(1),
  .child-result-index .list>div:nth-child(2),
  .child-result-index .list>div:nth-child(3) {
    width: 33.33%;
  }
  .child-result-index .list>div:nth-child(4),
  .child-result-index .list>div:nth-child(5) {
    width: 50%;
  }
  .child-result-index .list .item h2{
    font-size: 12px;
  }
  .child-plane-index .plane-kecheng {
    margin-bottom: 10px;
  }
  .child-plane-index .plane-kecheng li{
    height: auto;
    padding: 8px 10px 8px 15px;
    line-height: 1;
    border-radius: 100%;
    font-size: 16px;
  }
  .child-plane-index .plane-cont{
    flex-wrap: wrap;
  }
  .child-plane-index .plane-cont li{
    margin-top:15px;
    width: 33.33%;
    flex: 0 0 33.33%;
  }
  .child-plane-index .plane-cont li p{
    font-size: 16px;
    bottom: 18px;
  }
  /* 咨询 */
  .zixun{
    padding-bottom: 30px;
  }
  .zixun-list{
    flex-wrap: wrap;
  }
  .zixun-list > div:nth-child(1){
    width: 100%;
    flex: 0 0 100%;
  }
  .zixun-list > div:nth-child(2){
    width: 100%;
    flex: 0 0 100%;
  }
  .zixun-list .right{
    padding-bottom: 15px;
  }
  .zixun-list .right h2{
    font-size: 32px;
  }
  .zixun-list .right .right-list {
    padding: 0 10px;
  }
  .zixun-list .right .right-list li{
    padding: 0 10px;
  }
  .zixun-list .right .right-list li p{
    font-size: 16px;
  }
  .zixun-list .right .right-list li p::after{
    display: none;
  }
  .zixun-list .right .right-list li a{
    font-size: 16px;
  }
  .index-part1 .list .item{
    padding: 0 15px;
  }
  .index-part1 .list .item{
    padding: 0 10px;
  }
  .index-part1 .list .item h2{
    padding-top: 0;
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .uidWrapper .banner-wrapper .slideimg1 .left-text{
    /* margin-top: 0; */
  }
  .uidWrapper .banner-wrapper .swiper-container .swiper-slide{
    height: 220px;
  }
  .slideimg1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uidWrapper .banner-wrapper .slideimg1 .left-text{
    margin: 0 auto;
  }
  .optionPart .multiOpt .opts3 .item{
    font-size: 14px;
    padding: 0 10px;
  }
}
@media(min-width:768px) and (max-width:992px){
  .uidWrapper .banner-wrapper {
    height: auto;
  }
  .uidWrapper .banner-wrapper .swiper-container .swiper-slide{
    height: 240px;
  }
  .part1{
    margin-top: 70px;
    padding-top: 50px;
  }
  .title-wrapper span.year img {
    width: 90px;
  }
.child-life-content{
    padding-top: 30px;
  }
  .child-life-list .item{
    width: 100%;
  }
  .child-life-list .item2{
    padding: 40px 40px 40px;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 25px;
  }
  .child-ability-index .list .item h2 {
    font-size: 20px;
  }
  .child-plane-index .plane-kecheng li{
    height: auto;
    padding: 15px;
    border-radius: 100%;
  }
  .child-plane-index .plane-cont li p{
    font-size: 14px;
    bottom: 20px;
  }

  .zixun-list{
    flex-wrap: wrap;
  }
  .zixun-list > div:nth-child(1){
    width: 100%;
    flex: 0 0 100%;
  }
  .zixun-list > div:nth-child(2){
    width: 100%;
    flex: 0 0 100%;
  }
  .zixun-list .right{
    padding-bottom: 15px;
  }
  .index-part1 .list .item{
    min-height: 370px;
    padding-bottom: 0;
  }
  .uidWrapper .banner-wrapper{
    height: auto;
  }
  .uidWrapper .banner-wrapper .swiper-container{
    height: auto;
  }
  .uidWrapper .banner-wrapper .swiper-container .swiper-slide{
    height: 230px;
  }
  .slideimg1{
    display: flex;
    align-items: center;
    margin: 0;
  } 
  .uidWrapper .banner-wrapper .slideimg1 .left-text{
    margin: 0 auto;
  }
  .uidWrapper .banner-wrapper .swiper-container .swiper-slide img {
    position: relative;
    width: 100%;
    height: auto;
    margin-left: 0;
    left: 0;
    top: 0;
  }
  .uidWrapper .banner-wrapper .slideimg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/zhongkao/zhongkaobanner-bg.jpg') no-repeat center bottom;
    background-size: cover;
  }
  .uidWrapper .banner-wrapper .swiper-container .swiper-slide img{
    margin: auto;
    width: 80%;
  }
 

}

@media(min-width:992px) and (max-width:1200px){
  .part1{
    margin-top: 70px;
    padding-top: 50px;
  }
  .child-life-list .item2{
    padding: 40px 40px 0;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 20px;
  }
  .child-plane-index .plane-cont li p{
    bottom: 18px;
  }

  .zixun-list .right{
    padding-bottom: 10px;
  }
  .zixun-list > div:nth-child(1){
    width: 45%;
    flex: 0 0 45%;
  }
  .zixun-list > div:nth-child(2){
    width:55%;
    flex: 0 0 55%;
  }
  .zixun-list .right .right-list li{
    height: 60px;
    line-height: 60px;
  }
  .zixun-list .right h2{
    font-size: 28px;
  }
  .index-part1 .list .item{
    min-height: 430px;
  }
  .child-ability-index .list .item{
    min-height: 410px;
  }
}