.uidWrapper .banner-wrapper {
	position: relative;
	width: 100%;
	height: 570px;
	overflow: hidden;
}

.uidWrapper .banner-wrapper .swiper-container {
	width: 100%;
	height: 520px;
}

.uidWrapper .banner-wrapper .swiper-container .swiper-slide {
	width: 100%;
	height: 520px;
	overflow: hidden;
}

.uidWrapper .banner-wrapper .swiper-container .swiper-slide a {
	display: block;
}

.uidWrapper .banner-wrapper .swiper-container .swiper-slide img {
	width: 100%;
}

/* .uidWrapper .banner-wrapper .slideimg1 {
	background: url('../img/index/banner01.jpg') no-repeat center;
	background-size: 1920px 500px;
}

.uidWrapper .banner-wrapper .slideimg2 {
	background: url('../img/index/banner02.jpg') no-repeat center;
	background-size: 1920px 500px;
}

.uidWrapper .banner-wrapper .slideimg3 {
	background: url('../img/index/banner03.jpg') no-repeat center;
	box-sizing: 1920px 500px;
} */

.uidWrapper .banner-wrapper .swiper-container .swiper-slide img {
	top: 0;
	left: 50%;
	margin-left: -960px;
	width: 1920px;
	height: 520px;
	display: block;
	position: absolute;
	transition: 0.2s;
}

.uidWrapper .banner-wrapper .swiper-pagination {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 10;
}

.uidWrapper .banner-wrapper .swiper-pagination .swiper-pagination-bullet {
	margin: 0 5px;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: transparent;
	border: 1px solid #f15e04;
	opacity: 1;
	display: inline-block;
	float: inherit;
}

.uidWrapper .banner-wrapper .swiper-pagination .swiper-pagination-bullet-active {
	background: #f15e04;
}

/* banner表单 */

.banner-form {
	position: absolute;
	top: 84px;
	z-index: 10;
	width: 290px;
	height: 380px;
	border-radius: 6px;
	box-shadow: 0 0 20px rgba(87, 87, 87, 0.08);
	background: #fff;
}

/* .banner-form{
	right: 10%;
} */

.banner-form .formTitle {
	height: 66px;
	border-radius: 6px 6px 0 0;
	text-align: center;
	line-height: 66px;
	background: #f15e04;
}

.banner-form .formText {
	padding: 30px 0 36px;
	text-align: center;
}

.banner-form .formTitle .formText img {
	display: inline-block;
}

.banner-form .form-wrapper {
	padding: 0 15px;
}

.banner-form .form-wrapper label {
	position: relative;
	padding: 0 25px;
	margin-bottom: 24px;
	height: 50px;
	width: 100%;
	border: 1px solid #fe6c53;
	border-radius: 25px;
}

.banner-form .form-wrapper label input {
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	color: #999;
}

.banner-form .form-wrapper label .icon {
	position: absolute;
	width: 17px;
	height: 28px;
	right: 23px;
	top: 50%;
	margin-top: -14px;
	background: url('../img/index/phone.png') no-repeat center;
	background-size: 100% auto;
}

.banner-form .form-wrapper label .gradeIcon {
	cursor: pointer;
	background: url('../img/index/moreslect.png') no-repeat center;
	background-size: 100% auto;
}

/* 导航
小于768

768－1200

大于1200
上 120
下 70
48px
*/

/* 页面中的title */

.title-wrapper {
	color: #000;
	text-align: center;
	line-height: 1;
}

.title-wrapper.whiteColor {
	color: #fff;
}

.title-wrapper span {
	font-weight: bold;
}

/* part1 */

/* 
<768 2 
>768 4
*/

.index-part1, .index-part2, .index-part3, 
.index-part4 ,.index-part6,.index-part8{
	padding-bottom: 40px;
}

.index-part1 {}

.index-part1 .list {
	padding-left: 9px;
	padding-right: 9px;
}

.index-part1 .list>div {
	padding-left: 6px;
	padding-right: 6px;
}

.index-part1 .list .item {
	padding: 20px 15px 15px;
	margin-bottom: 20px;
	position: relative;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.index-part1 .list .item::after {
	content: '';
	display: block;
	clear: both;
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px 4px 0 0;
}

.index-part1 .list .item.item1::after {
	background: #fe6c53;
}

.index-part1 .list .item.item2::after {
	background: #448aca;
}

.index-part1 .list .item.item3::after {
	background: #f39800;
}

.index-part1 .list .item.item4::after {
	background: #009944;
}

.index-part1 .list .item .icon {
	text-align: center;
}
.index-part1 .list .item h2 {
	text-align: center;
	font-weight: normal;
	color: #000;
}

.index-part1 .list .item h2 {
	font-size: 26px;
}

.index-part1 .list .item .text {
	text-align: justify;
	color: #333;
}

.index-part1 .list .item .text {
	font-size: 16px;
	line-height: 1.4;
}

/* part2 */

.part2 {
	background: #fd9e66;
}

.index-part2 .box-wrapper {
	display: flex;
}

.index-part2 .box-wrapper .left {
	border-radius: 4px 0 0 4px;
	background: #fdcda7;
}

.index-part2 .box-wrapper .left {
	margin-bottom: 0;
	width: 100px;
	flex: 0 0 100px;
}

.index-part2 .box-wrapper .right {
	position: relative;
	flex: 1;
}

.index-part2 .box-wrapper .left li {
	border-bottom: 1px solid #fd9056;
	text-align: left;
	color: #000;
	padding: 10px 0 10px 5px;
}

.index-part2 .box-wrapper .left li:first-child {
	border-radius: 4px 0 0 0;
}

.index-part2 .box-wrapper .left li:last-child {
	border: none;
	border-radius: 0 0 0 4px;
}

.index-part2 .box-wrapper .left li span {
	position: relative;
	padding-left: 20px;
}

.index-part2 .box-wrapper .left li span::after {
	content: "";
	display: block;
	clear: both;
	position: absolute;
	left: 0;
	top: 0;
}

.index-part2 .box-wrapper .left li span::after {
	width: 15px;
	height: 16px;
	top: 50%;
	margin-top: -8px;
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 0;
	background-size: 100% auto;
}

.index-part2 .box-wrapper .left li:nth-child(1) span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 0;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(2) span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -16px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(3) span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -32px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(4) span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -48px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(5) span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -64px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li.act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px 0;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(1).act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px 0;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(2).act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px -16px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(3).act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px -32px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(4).act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px -48px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li:nth-child(5).act span::after {
	background: url('../img/index/p2-xuexi-icon.png') no-repeat -15px -64px;
	background-size: 200% auto;
}

.index-part2 .box-wrapper .left li.act {
	color: #fff;
	background: #fd9056;
}

.index-part2 .box-wrapper .right .item {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	background: url('../img/index/p2-index-pic1.jpg') no-repeat right center #fff;
	/* background-size: 100% auto; */
}

.index-part2 .box-wrapper .right .item.show {
	opacity: 1;
}

.index-part2 .box-wrapper .right .item.item1 {
	background: url('../img/index/p2-index-pic1.jpg') no-repeat right center #fff;
}

.index-part2 .box-wrapper .right .item.item2 {
	background: url('../img/index/p2-index-pic2.jpg') no-repeat right center #fff;
}

.index-part2 .box-wrapper .right .item.item3 {
	background: url('../img/index/p2-index-pic3.jpg') no-repeat right center #fff;
}

.index-part2 .box-wrapper .right .item.item4 {
	background: url('../img/index/p2-index-pic4.jpg') no-repeat right center #fff;
}

.index-part2 .box-wrapper .right .item.item5 {
	background: url('../img/index/p2-index-pic5.jpg') no-repeat right center #fff;
}

.index-part2 .box-wrapper .right .item .text {
	position: absolute;
	color: #000;
}

.index-part2 .box-wrapper .right .item .text {
	width: 60%;
	top: 83px;
	left: 60px;
	font-size: 16px;
}

.index-part2 .box-wrapper .right .item .text::after, .index-part2 .box-wrapper .right .item .text::before {
	content: '';
	display: block;
	clear: both;
	position: absolute;
	width: 32px;
	height: 31px;
}

.index-part2 .box-wrapper .right .item .text::after {
	left: -20px;
	top: -10px;
}

.index-part2 .box-wrapper .right .item .text::before {
	right: -20px;
	bottom: -10px;
}

.index-part2 .box-wrapper .right .item .text::after {
	background: url('../img/index/p2-text-left.png') no-repeat left top;
}

.index-part2 .box-wrapper .right .item .text::before {
	background: url('../img/index/p2-text-right.png') no-repeat left top;
}

/* part4 */

.part4 {
	padding-bottom: 40px;
	background: #fef3f0;
}

.index-part4 .p4Menu {
	margin-bottom: 20px;
}

.index-part4 .p4Menu .item {
	position: relative;
}

.index-part4 .p4Menu .item h2 {
	color: #fff;
}

.index-part4 .p4Menu .item.act::after {
	content: '';
	display: block;
	clear: both;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	width: 0;
	border-top: 10px solid #fd9e66;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.index-part4 .p4Menu .item2.act::after {
	border-top: 10px solid #ff7d26;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.index-part4 .p4Menu .item3.act::after {
	border-top: 10px solid #ff6000;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.index-part4 .p4Menu .item>img {
	width: 100%;
}

/* 内容部分 */

.p4-content {
	/* min-height: 420px; */
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.p4-content>div {
	padding: 20px 15px 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 1px solid #fd8142;
	border-radius: 4px;
	color: #000;
	background: #fff;
	opacity: 0;
}

.p4-content>div h3 {
	margin: 0 0 10px;
	font-size: 22px;
	font-weight: normal;
}

.p4-content>div p {
	padding-bottom: 20px;
	font-size: 16px;
}

.p4-content>div p:last-child {
	padding-bottom: 0;
}

.p4-content>div.show {
	opacity: 1;
}
/* part6 */
.part6{
	background: -moz-linear-gradient(to bottom,#fef0ea 0%,#fcfcf9 100%);
	background: -webkit-linear-gradient(to bottom,#fef0ea 0%,#fcfcf9 100%);
	background: -ms-linear-gradient(to bottom,#fef0ea 0%,#fcfcf9 100%);
	background: -o-linear-gradient(to bottom,#fef0ea 0%,#fcfcf9 100%);
	background: linear-gradient(to bottom,#fef0ea 0%,#fcfcf9 100%);
}
.child-wrapper{
	position: relative;
	padding-bottom: 60px;
}
#childSwiper i{
	font-style: normal;
}
#childSwiper .child-swiper{
	position: relative;
	/* height: 200px;
	border: 1px solid #000; */
}
.child-wrapper .swiper-pagination{
	width: 100%;
	bottom: 0;
}
.child-wrapper .swiper-pagination-bullet{
	margin: 0 20px;
	width: 25px;
	height: 25px;
	opacity: 1;
	border: 1px solid #f15e04;
	background: transparent;
}
.child-wrapper .swiper-pagination-bullet-active{
	background: #f15e04;
}
#childSwiper .child-swiper{
	display: flex;
	align-items: center;
}
#childSwiper .child-swiper .child-user{
	flex: 0 0 236px;
	width: 236px;
	height: auto;
	text-align: center;
}
#childSwiper .child-swiper .child-user img{
	margin-bottom: 30px;
	width: 100%;
	height: auto;
	border-radius: 100%;
}
#childSwiper .child-swiper .child-user p{
	font-size: 26px;
	color: #000;
}
#childSwiper .child-swiper .child-user p span{
	display: block;
}
#childSwiper .child-swiper .child-result{
	position: relative;
	margin-left: 75px;
	padding: 60px 90px;
	border-radius: 6px;
	border: 1px solid #bfbfbf;
  background: #fff;
}
#childSwiper .child-swiper .child-result::after{
	content: '';
	display: block;
	clear: both;
	position: absolute;
	width: 48px;
	height: 26px;
	background: url('../img/index/childleft.png') no-repeat center center;
	background-size:48px 26px;
	left: -47px;
	top: 20%;
}
#childSwiper .child-swiper .child-result .item{
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#childSwiper .child-swiper .child-result .item span{
	flex: 1;
	padding: 0 24px;
	font-size: 26px;
	color: #000;
}
#childSwiper .child-result .item span i{
	color: #f15e04;
}
#childSwiper .child-swiper .child-result .item .tip{
 color: #fff;
 background: #f15e04;
}
#childSwiper .child-swiper .child-result p{
	margin-bottom: 0;
	color: #333333;
	font-size: 16px;
	line-height: 2;
}
/* part7 */
.index-part7 .list {
	padding-left: 9px;
	padding-right: 9px;
}

.index-part7 .list>div {
	padding-left: 6px;
	padding-right: 6px;
}

.index-part7 .list .item {
	min-height: 340px;
	padding: 20px 15px 15px;
	/* margin-bottom: 20px; */
	position: relative;
	border-radius: 4px;
	border: 1px solid #e8e8e8;
}

.index-part7 .list .item .icon {
	text-align: center;
}

.index-part7 .list .item h2 {
	text-align: center;
	font-weight: normal;
	color: #000;
}

.index-part7 .list .item h2 {
	font-size: 26px;
}

.index-part7 .list .item .text {
	text-align: justify;
	color: #333;
}

.index-part7 .list .item .text {
	padding: 10px 15px 0;
	font-size: 16px;
	line-height: 1.4;
}

/* part8 */
.part8 .box-wrapper{
	position: relative;
	display: flex;
	align-items: stretch;
}
.part8 .box-wrapper ul{
	margin-bottom: 0;
}
.part8 .box-wrapper ul li:last-child{
	margin-bottom: 0;
}
.part8 .box-wrapper .left{

}
.part8 .box-wrapper .center-content{
	flex: 1;
}
.part8 .box-wrapper .center-content>div{
	opacity: 0;
	transition: 0.4s;
}
.part8 .box-wrapper .center-content>div.show{
	opacity: 1;
	transition: 0.4s;
}
.part8 .box-wrapper .right{}
.part8 .box-wrapper .item{
	border-radius: 4px;
	font-size: 26px;
	color: #000;
	background: #e5e5e5;
	cursor: pointer;
	transition: 0.3s;
}
.part8 .box-wrapper .item.act{
	transition: 0.3s;
	color: #fff;
	background: #f15e04;
}
.part8 .box-wrapper .item span{
	position: relative;
}
.part8 .box-wrapper .item span::after{
	content: "";
	display: block;
	clear: both;
	position: absolute;
	left: 0;
	top: 0;
}
/* 移动端 */
.part8 .yd-box-wrapper{
	/* display: flex;
	align-items: stretch; */
}
.part8 .yd-box-wrapper .left-menu{
	flex: 0 0 100px;
}
.part8 .yd-box-wrapper .left-menu li{
	padding:0;
	margin-bottom: 10px;
	border-radius: 6px;
	font-size:20px;
	color: #000;
	background: #fafafa;
}
.part8 .yd-box-wrapper .left-menu li .text{
	padding: 10px 15px 20px;
	font-size: 18px;
	text-align: justify;
}
.part8 .yd-box-wrapper .left-menu li h2{
	padding: 15px;
	margin: 0;
	border-radius: 6px 6px 0 0;
	font-weight: normal;
	color: #fff;
	font-size: 20px;
	background: #f15e04;
}

/* 以上是全局样式样式
	 全局样式例如定位、颜色、透明度。
	 其它独立的样式需要根据不同屏的尺寸自适应
*/
/* 适配********************* */

@media(max-width:768px) {
	/* banner */
	.uidWrapper .banner-wrapper{
		height: auto;
	}
	.uidWrapper .banner-wrapper .swiper-container{
		height: auto;
	}
	.uidWrapper .banner-wrapper .swiper-container .swiper-slide{
		height: 162px;
	}
	.uidWrapper .banner-wrapper .swiper-container .swiper-slide img{
		position: relative;
    width: 100%;
    height: auto;
    margin-left: 0;
    left: 0;
    top: 0;
	}
	.uidWrapper .banner-wrapper  .slideimg1{
		background: url('../img/index/banner-bg.jpg') no-repeat center bottom;
		background-size: cover;

	}
	.uidWrapper .banner-wrapper  .slideimg2{
		background: url('../img/index/mob-banner-bg.jpg') no-repeat center bottom;
		background-size: cover;

	}
	.uidWrapper .banner-wrapper  .slideimg3{
		background: url('../img/index/camp-banner-bg.jpg') no-repeat center bottom;
		background-size: cover;

	}
	.uidWrapper .banner-wrapper  .slideimg1 .left-text{
		width: 70%;
    margin: 0.8rem auto 0;
	}
	.uidWrapper .banner-wrapper  .slideimg2 .left-text{
		width: 70%;
    margin: 0.8rem auto 0;
	}
	.uidWrapper .banner-wrapper  .slideimg3 .left-text{
		width: 70%;
    margin: 0.4rem auto 0;
	}
 
	/* 导航 */
	.title-wrapper {
		padding: 30px 0 10px;
		font-size: 28px;
		line-height: 1.6;
	}
	.title-wrapper span {
		padding: 0 10px;
		vertical-align: bottom;
	}
	.title-wrapper span img {
		width: 28px;
	}
	.index-part1 .list .item {
		padding: 25px 15px 15px;
		height: auto;
		margin-bottom: 15px;
	}
	.index-part1 .list .item4 {
		margin-bottom: 0;
	}
	.index-part1 .list .item .icon img {
		width: 80px;
		height: auto;
	}
	.index-part1 .list .item h2{
		margin: 15px 0 10px;
	}
	/* part2 */
	.index-part2 .box-wrapper .right .item{
		background: #fff !important;
	}
	.index-part2 .box-wrapper .left li span {
		display: flex;
		line-height: 1.2;
	}
	.index-part2 .box-wrapper .right .item .text {
    width: 70%;
    top: 45px;
    left: 40px;
		font-size: 16px;
		text-align: justify;
}
.index-part2 .box-wrapper .right .item1 .text{
	top: 30px;
}
.index-part2 .box-wrapper .right .item2 .text{
	top: 20px;
	left: 30px;
	width: 75%;
}
.index-part2 .box-wrapper .right .item3 .text{
	top: 20px;
	left: 30px;
	width: 75%;
}
.index-part2 .box-wrapper .right .item4 .text{
	top: 20px;
	left: 30px;
	width: 75%;
}
.index-part2 .box-wrapper .right .item5 .text{
	top: 40px;
	left: 30px;
	width: 75%;
}
	/* part3 */
	.index-part3{
		padding-bottom: 30px;
	}
	#certify .swiper-button-prev{
		left: 10px;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -55px;
    background: url(../img/index/leftjiantou.png) no-repeat;
    background-position: 0 0;
    background-size: 100%;
	}
	#certify .swiper-button-next {
		right: 10px;
		width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -55px;
		background: url(../img/index/rightjiantou.png) no-repeat;
		background-size: 100%;
	}
	/* part4 */
	.index-part4 .p4Menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.index-part4 .p4Menu>div {
		padding-left: 0;
		padding-right: 0;
	}
	.index-part4 .p4Menu .item {
		position: relative;
		background: #fd9e66;
	}
	.index-part4 .p4Menu .item2 {
		background: #ff7d26;
	}
	.index-part4 .p4Menu .item3 {
		background: #ff6000;
	}
	.index-part4 .p4Menu .item h2 {
		position: relative;
		font-weight: normal;
		padding: 15px;
		margin: 0 0;
		text-align: center;
		color: #fff;
		font-size: 20px;
	}

		/* par5 教师模块 */
		.part5 {
			padding: 40px 0 40px;
			background: #fff;
		}
		.index-part5 {}
		.index-part5 .teacher-box {
			padding: 0 0;
			position: relative;
		}
		.index-part5 .swiper-container {}
		.index-part5 .swiper-container .swiper-wrapper {}
		.index-part5  .slideBox{
			position: relative;
			overflow: hidden;
		}
		.index-part5 .swiper-container .swiper-slide img{
			display: block;
			width: 100%;
		}
		.index-part5 .textBox{
			padding: 0 18px 20px;
			position: absolute;
			z-index: 10;
			width: 100%;
			height:54%;
			/* height: 45px; */
			bottom: 0;
			left: 0;
			color: #fff;
			border-radius: 0 0 4px 4px;
			background: rgba(241, 94, 4, 0.8);
			transition: 0.3s;
			overflow-y: auto;
		}
		.index-part5 .textBox .textTit{
			padding:15px 0 10px;
			margin-bottom: 10px;
			line-height: 1;
			font-size: 20px;
			border-bottom: 1px solid #fff;
		}
		.index-part5 .textBox .textTit span{
			float: right;
		}
		.index-part5 .textBox p{
			font-size: 12px;
			margin-bottom: 0;
			text-align: justify;
		}
		.index-part5 .textBox p span{
			font-weight: bold;
		}
		/* .index-part5 .slideBox:hover .textBox{
			height: 76%;
			background: rgba(241, 94, 4, 0.8);
			transition: 0.3s;
		} */
		.index-part5 .teacher-box .teachBtn{
			position: absolute;
			top: 50%;
			cursor: pointer;
			width: 56px;
			height: 56px;
			margin-top: -28px;
			display: none;
		}
		.index-part5 .teacher-box .preBtn{
			left: 0;
			background: url('../img/index/teachpre.png') no-repeat center center;
			background-size: 100% auto;
		}
		.index-part5 .teacher-box .nextBtn{
			right: 0;
			background: url('../img/index/teachnext.png') no-repeat center center;
			background-size: 100% auto;
		}
		/* part6 */
		/* .part6{
			padding-bottom: 40px;
		} */
		#childSwiper .child-swiper .child-user{
			flex: 0 0 80px;
			 width: 80px;
			 height: auto;
		}
		#childSwiper .child-swiper .child-user img{
			margin-bottom: 10px;
		}
		#childSwiper .child-swiper .child-user p{
			font-size: 14px;
		}
		#childSwiper .child-swiper .child-result{
			margin-left: 30px;
			padding: 15px;
		}
		#childSwiper .child-swiper .child-result .item .tip{
			width: 100%;
			flex: 0 0 100%;
		}
		#childSwiper .child-swiper .child-result .item span{
			padding: 0 24px;
			flex: auto;
			font-size: 20px;
		}
		#childSwiper .child-swiper .child-result::after{
			width:24px;
			height: 26px;
			background: url('../img/index/childleft.png') no-repeat center center;
			background-size:24px 13px;
			left: -23px;
			top: 35%;
		}
		#childSwiper .child-swiper .child-result .item{
			margin-bottom: 15px;
		}
		#childSwiper .child-swiper .child-result p{
			margin-bottom: 0;
			font-size: 16px;
			line-height: 1.5;
		}
		/* part6 */
		.child-wrapper .swiper-pagination-bullet{
			margin: 0 5px;
			width: 20px;
			height: 20px;
		}
		/* part7 */
		.index-part7 .list .item {
			min-height:100px;
			padding:15px 0 15px 0;
			margin-bottom: 15px;
		}
		.index-part7 .list .item .icon img {
			width: 80px;
			height: auto;
		}
		.index-part7 .list .item h2{
			margin-bottom: 5px;
			font-size: 22px;
		}
		.index-part7 .list .item .text{
			padding: 10px 20px 0;
			line-height: 1.6;
		}
		/* part8 */
		.part8 .yd-box-wrapper .left-menu li h2{
			padding-left: 50px;
		}
		.part8 .yd-box-wrapper li h2 span{
			position: relative;
		}
		.part8 .yd-box-wrapper li h2 span::after{
			content: '';
			display: block;
			clear: both;
			top: 50%;
			left: -30px;
			position: absolute;
			width: 24px;
			height: 28px;
			margin-top: -12px;
			background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
		}
	.part8 .yd-box-wrapper li:nth-child(1) h2 span::after {
			background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
			background-size: 250%;
			background-position: -33px 0;
	}
	.part8 .yd-box-wrapper li:nth-child(2) h2 span::after {
		background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
		background-size: 250%;
		background-position: -33px -28px;
}
.part8 .yd-box-wrapper li:nth-child(3) h2 span::after {
	background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
	background-size: 250%;
	background-position: -33px -52px;
}
.part8 .yd-box-wrapper li:nth-child(4) h2 span::after {
	background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
	background-size: 250%;
	background-position: -33px -78px;
}
.part8 .yd-box-wrapper li:nth-child(5) h2 span::after {
	background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
	background-size: 250%;
	background-position: -33px -106px;
}
.part8 .yd-box-wrapper li:nth-child(6) h2 span::after {
	background: url(../img/index/p8-index-icon.png) no-repeat 0 0;
	background-size: 250%;
	background-position: -33px -133px;
}

}

@media(min-width:768px) {
	.banner-form {
		right: 5%;
	}
	/* 导航 */
	.title-wrapper {
		padding: 10px 0 70px;
		font-size: 48px;
		line-height: 1.5;
	}
	.title-wrapper span {
		padding: 0 10px;
		font-size: 70px;
		vertical-align: bottom;
	}
	.index-part2 .title-wrapper {
		padding: 60px 0 50px;
		font-size: 48px;
	}
	/* part1 */
	.index-part1, .index-part2 {
		padding-bottom: 60px;
	}
	.index-part1 .list .item {
		padding: 38px 25px 25px;
	}
	.index-part1 .list .item h2 {
		padding: 20px 0 10px;
		font-size: 26px;
	}
	.index-part1 .list .item .text {
		font-size: 16px;
		line-height: 30px;
	}
	/* part2 */
	.index-part2 .box-wrapper .left {
		width: 300px;
		flex: 0 0 300px;
	}
	.index-part2 .box-wrapper .left li {
		padding: 24px 0 22px 50px;
		font-size: 22px;
	}
	.index-part2 .box-wrapper .left li span {
		padding-left: 40px;
	}
	.index-part2 .box-wrapper .left li span::after {
		width: 30px;
		height: 32px;
    background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 0;
    position:absolute;
    left:0;
    top:7px;
	}
	.index-part2 .box-wrapper .left li:nth-child(1) span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 0;
	}
	.index-part2 .box-wrapper .left li:nth-child(2) span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -32px;
	}
	.index-part2 .box-wrapper .left li:nth-child(3) span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -64px;
	}
	.index-part2 .box-wrapper .left li:nth-child(4) span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -96px;
	}
	.index-part2 .box-wrapper .left li:nth-child(5) span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat 0 -128px;
	}
	.index-part2 .box-wrapper .left li.act span::after {
		width: 30px;
		height: 32px;
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px 0;
	}
	.index-part2 .box-wrapper .left li:nth-child(1).act span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px 0;
	}
	.index-part2 .box-wrapper .left li:nth-child(2).act span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px -32px;
	}
	.index-part2 .box-wrapper .left li:nth-child(3).act span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px -64px;
	}
	.index-part2 .box-wrapper .left li:nth-child(4).act span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px -96px;
	}
	.index-part2 .box-wrapper .left li:nth-child(5).act span::after {
		background: url('../img/index/p2-xuexi-icon.png') no-repeat -30px -128px;
	}
	.index-part2 .box-wrapper .right .item {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: url('../img/index/p2-index-pic1.jpg') no-repeat right center #fff;
		/* background-size: 100% auto; */
	}
	.index-part2 .box-wrapper .right .item .text {
		width: 60%;
		top: 83px;
		left: 60px;
		line-height: 1.8;
	}
	.index-part2 .box-wrapper .right .item .text::after, .index-part2 .box-wrapper .right .item .text::before {
		width: 32px;
		height: 31px;
	}
	.index-part2 .box-wrapper .right .item .text::after {
		left: -20px;
		top: -15px;
	}
	.index-part2 .box-wrapper .right .item .text::before {
		right: -20px;
		bottom: -10px;
	}
	.index-part2 .box-wrapper .right .item .text::after {
		background: url('../img/index/p2-text-left.png') no-repeat left top;
	}
	.index-part2 .box-wrapper .right .item .text::before {
		background: url('../img/index/p2-text-right.png') no-repeat left top;
	}
	/* part4 */
	.index-part4 .p4Menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.index-part4 .p4Menu>div {
		padding-left: 0;
		padding-right: 0;
	}
	.index-part4 .p4Menu .item {
		position: relative;
		background: #fd9e66;
	}
	.index-part4 .p4Menu .item2 {
		background: #ff7d26;
	}
	.index-part4 .p4Menu .item3 {
		background: #ff6000;
	}
	.index-part4 .p4Menu .item h2 {
		position: relative;
		font-weight: normal;
		padding: 15px;
		margin: 0 0;
		text-align: center;
		color: #fff;
		font-size: 20px;
	}

	/* par5 教师模块 */
	.part5 {
		padding: 60px 0 120px;
		background: #fff;
	}
	.index-part5 {}
	.index-part5 .teacher-box {
		padding: 0 60px;
		position: relative;
	}
	.index-part5 .swiper-container {}
	.index-part5 .swiper-container .swiper-wrapper {}
	.index-part5  .slideBox{
		position: relative;
		overflow: hidden;
	}
	.index-part5 .swiper-container .swiper-slide img{
		display: block;
		width: 100%;
	}
	.index-part5 .textBox{
		padding: 0 18px 0;
		position: absolute;
		z-index: 10;
		width: 100%;
		/* height:76%; */
		height: 45px;
		bottom: 0;
		left: 0;
		color: #fff;
		border-radius: 0 0 4px 4px;
		background: rgba(241, 94, 4, 1);
		transition: 0.3s;
	}
	.index-part5 .textBox .textTit{
		padding:15px 0 10px;
		margin-bottom: 10px;
		line-height: 1;
		font-size: 20px;
		border-bottom: 1px solid #fff;
	}
	.index-part5 .textBox .textTit span{
		float: right;
	}
	.index-part5 .textBox p{
		font-size: 12px;
		margin-bottom: 0;
		text-align: justify;
	}
	.index-part5 .textBox p span{
		font-weight: bold;
	}
	.index-part5 .slideBox:hover .textBox{
		height: 85%;
		background: rgba(241, 94, 4, 0.8);
		transition: 0.3s;
	}
  .index-part5 .teacher-box .teachBtn{
		position: absolute;
		top: 50%;
		cursor: pointer;
		width: 56px;
		height: 56px;
		margin-top: -28px;
	}
	.index-part5 .teacher-box .preBtn{
		left: 0;
		background: url('../img/index/teachpre.png') no-repeat center center;
		background-size: 100% auto;
	}
	.index-part5 .teacher-box .nextBtn{
		right: 0;
		background: url('../img/index/teachnext.png') no-repeat center center;
		background-size: 100% auto;
	}
	.index-part7 .list .item{
		min-height: 330px;
	}
	/* part8 */
	.part8 .box-wrapper .left{
		flex: 0 0 286px;
		width: 286px;
	}
	.part8 .box-wrapper .right{
		flex: 0 0 286px;
		width: 286px;
	}
	.part8 .box-wrapper .item{
		padding:0 0 0 68px;
		height: 123px;
		line-height: 123px;
		margin-bottom: 15px;
    font-size: 26px;
	}
	.part8 .box-wrapper .center-content{
		flex: 1;
		margin: 0 10px;
		position: relative;
	}
	.part8 .box-wrapper .center-content>div{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 6px;
	}
	.part8 .box-wrapper .center-content>div .text{
		position: absolute;
		width: 100%;
		padding: 40px 35px 30px;
		left: 0;
		bottom: 10%;
		font-size: 16px;
		color: #fff;
		background: rgba(241, 94, 4, 0.8);
	}
	.part8 .box-wrapper .center-content .item-cont1{
		background: url('../img/index/p8-index-pic1.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .center-content .item-cont2{
		background: url('../img/index/p8-index-pic2.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .center-content .item-cont3{
		background: url('../img/index/p8-index-pic3.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .center-content .item-cont4{
		background: url('../img/index/p8-index-pic4.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .center-content .item-cont5{
		background: url('../img/index/p8-index-pic5.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .center-content .item-cont6{
		background: url('../img/index/p8-index-pic6.jpg') no-repeat center center;
	}
	.part8 .box-wrapper .item span::after{
		top: 50%;
		left: -40px;
		width: 34px;
		height: 30px;
		margin-top: -15px;
		background: url('../img/index/p8-index-icon.png') no-repeat 0 0;
	}
	.part8 .box-wrapper .left li:nth-child(1) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 0;
	}
	.part8 .box-wrapper .left li:nth-child(2) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 -30px;
	}
	.part8 .box-wrapper .left li:nth-child(3) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 -60px;
	}
	.part8 .box-wrapper .right li:nth-child(1) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 -90px;
	}
	.part8 .box-wrapper .right li:nth-child(2) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 -120px;
	}
	.part8 .box-wrapper .right li:nth-child(3) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat 0 -150px;
	}
	.part8 .box-wrapper .left li.act:nth-child(1) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px 0;
	}
	.part8 .box-wrapper .left li.act:nth-child(2) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px -30px;
	}
	.part8 .box-wrapper .left li.act:nth-child(3) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px -60px;
	}
	.part8 .box-wrapper .right li.act:nth-child(1) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px -90px;
	}
	.part8 .box-wrapper .right li.act:nth-child(2) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px -120px;
	}
	.part8 .box-wrapper .right li.act:nth-child(3) span::after{
		background: url('../img/index/p8-index-icon.png') no-repeat -34px -150px;
	}

}

@media(min-width:992px) {
	.banner-form {
		right: 2%;
	}
	.index-part1, .index-part2 {
		padding-bottom: 100px;
	}
}

@media(min-width:1200px) {
	.container {
		width: 1200px;
	}
	.banner-form {
		right: 10%;
	}
	/* 导航 */
	.title-wrapper {
		padding: 100px 0 70px;
		font-size: 48px;
	}
	.title-wrapper span {
		padding: 0 10px;
		font-size: 70px;
		vertical-align: bottom;
	}
	.index-part1 .title-wrapper {
		padding: 70px 0 60px;
	}
	.index-part2 .title-wrapper {
		padding: 80px 0 70px;
	}
	/* part4 */
	.index-part4 .p4Menu .col-lg-4 {
		width: 405px;
	}
	.index-part4 .p4Menu .col-lg-6 {
		width: 580px;
	}
	.index-part4 .p4Menu .col-lg-2 {
		width: 157px;
		/* height: 157px; */
	}
	.index-part4 .p4Menu {
		padding-top: 57px;
		margin-bottom: 40px;
	}
	.index-part4 .p4Menu .item {
		min-height: 134px;
		cursor: pointer;
	}
	.index-part4 .p4Menu .item.item1 {
		background: url('../img/index/p4-index-listbg1.png') no-repeat center bottom transparent;
		background-size: 100% auto;
	}
	.index-part4 .p4Menu .item.item2 {
		margin: 0 20px;
		background: url('../img/index/p4-index-listbg2.png') no-repeat center bottom transparent;
		background-size: 100% auto;
	}
	.index-part4 .p4Menu .item.item3 {
		background: url('../img/index/p4-index-listbg3.png') no-repeat center bottom transparent;
		background-size: 100% auto;
	}
	.index-part4 .p4Menu .item .num {
		position: absolute;
		width: 40px;
		height: 40px;
	}
	.index-part4 .p4Menu .item h2 {
		position: absolute;
		width: 100%;
		height: 26px;
		line-height: 26px;
		font-size: 26px;
		font-weight: normal;
		text-align: center;
		top: 50%;
		margin-top: -5px;
	}
	.index-part4 .p4Menu .item2 h2 {
		margin-top: -15px;
	}
	.index-part4 .p4Menu .item3 h2 {
		margin-top: -25px;
	}
	.index-part4 .p4Menu .item1 .num1 {
		top: -6px;
		left: 60px;
		background: url('../img/index/p4-index-num1.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item1 .num2 {
		top: -14px;
		left: 184px;
		background: url('../img/index/p4-index-num2.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item1 .num3 {
		top: -20px;
		left: 315px;
		background: url('../img/index/p4-index-num3.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2 .num1 {
		top: -40px;
		left: 50px;
		background: url('../img/index/p4-index-num4.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2 .num2 {
		top: -50px;
		left: 190px;
		background: url('../img/index/p4-index-num5.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2 .num3 {
		top: -54px;
		left: 340px;
		background: url('../img/index/p4-index-num6.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2 .num4 {
		top: -60px;
		left: 475px;
		background: url('../img/index/p4-index-num7.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item3 .num1 {
		top: -70px;
		left: 60px;
		background: url('../img/index/p4-index-num8.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item1.act .num1 {
		top: -6px;
		left: 60px;
		background: url('../img/index/p4-index-num1-1.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item1.act .num2 {
		top: -14px;
		left: 184px;
		background: url('../img/index/p4-index-num2-1.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item1.act .num3 {
		top: -20px;
		left: 315px;
		background: url('../img/index/p4-index-num3-1.png') no-repeat center center;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2.act .num1 {
		top: -40px;
		left: 50px;
		background: url('../img/index/p4-index-num4-1.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2.act .num2 {
		top: -50px;
		left: 190px;
		background: url('../img/index/p4-index-num5-1.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2.act .num3 {
		top: -54px;
		left: 340px;
		background: url('../img/index/p4-index-num6-1.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item2.act .num4 {
		top: -60px;
		left: 475px;
		background: url('../img/index/p4-index-num7-1.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	.index-part4 .p4Menu .item3.act .num1 {
		top: -70px;
		left: 60px;
		background: url('../img/index/p4-index-num8-1.png') no-repeat center center;
		background-size: 100% auto;
		transition: 0.3s;
	}
	/* 内容部分 */
	.p4-content {
		min-height: 420px;
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
	}
	.p4-content>div {
		padding: 40px 35px 20px 30px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border: 1px solid #fd8142;
		border-radius: 4px;
		color: #000;
	}
	.p4-content>div h3 {
		margin: 0 0 10px;
		font-size: 26px;
		font-weight: normal;
	}
	.p4-content>div p {
		padding-bottom: 20px;
		font-size: 16px;
	}
	.p4-content .content-item1 {
		background: url('../img/index/p4-bg1.jpg') no-repeat right center #fff;
	}
	.p4-content .content-item2 {
		background: url('../img/index/p4-bg2.jpg') no-repeat right center #fff;
	}
	.p4-content .content-item3 {
		background: url('../img/index/p4-bg3.jpg') no-repeat right center #fff;
	}
	/* par5 教师模块 */
	.part5 {
		padding: 60px 0 120px;
		background: #fff;
	}
	.index-part5 {}
	.index-part5 .teacher-box {
		position: relative;
		padding: 0 60px;
		margin-left: -15px;
    margin-right: -15px;
	}
	.index-part5 .swiper-container {}
	.index-part5 .swiper-container .swiper-wrapper {}
	.index-part5  .slideBox{
		position: relative;
		overflow: hidden;
	}
	.index-part5 .swiper-container .swiper-slide img{
		display: block;
		width: 100%;
	}
	.index-part5 .textBox{
		padding: 0 18px 0;
		position: absolute;
		z-index: 10;
		width: 100%;
		/* height:76%; */
		height: 45px;
		bottom: 0;
		left: 0;
		color: #fff;
		border-radius: 0 0 4px 4px;
		background: rgba(241, 94, 4, 1);
		transition: 0.3s;
	}
	.index-part5 .textBox .textTit{
		padding:15px 0 10px;
		margin-bottom: 10px;
		line-height: 1;
		font-size: 20px;
		border-bottom: 1px solid #fff;
	}
	.index-part5 .textBox .textTit span{
		float: right;
	}
	.index-part5 .textBox p{
		font-size: 12px;
		margin-bottom: 0;
		text-align: justify;
	}
	.index-part5 .textBox p span{
		font-weight: bold;
	}
	.index-part5 .slideBox:hover .textBox{
		height: 76%;
		background: rgba(241, 94, 4, 0.8);
		transition: 0.3s;
	}
	/* part6 */
	.part6, .part8{
		padding-bottom: 30px;
	}
	/* part7 */
	.index-part7 .list .item{
		min-height: 320px;
	}
}