@charset 'utf-8';

/*  */
body {font-size:14px;font-family:'microsoft YaHei','PingFangSC-Regular', Tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1", sans-serif,"iconfont";color:#000;background: #ffffff;}
/* 移动端手机浏览器页面出现上下滑动页面是涩的感觉，不流畅 */
body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, span, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {margin:0; padding:0; }
ul,li,dl,dt,dd,ol {list-style:none;}
a:link, a:focus, a:hover {text-decoration: none;outline:none;}
em {font-style:normal;}

/* 子页banner */
.sonPageBanner {
  position: relative;
	width:100%;
	height:520px;	
  overflow: hidden;
}
.sonPageBanner .banner-item {
	height:100%;
	background-repeat: no-repeat!important;
	background-position: center center !important;
	background-size:cover!important;
}

/* 全省校区 */
.provCampBanner .banner-item {
	background-image:url(../img/provincialCampuses/banner-bg.jpg);
}

.prov_schools .item {
	background-color:#f2f2f2;
	box-shadow: 0 5px 15px rgba(0,0,0,.25);
}
.prov_schools .item .scName {
	font-size:26px;
	color:#000000;
	line-height: 36px;
}
.prov_schools .item .contact-way {
	font-size:16px;
	color:#000000;
	line-height:30px;
}
.prov_schools .item:hover, .prov_schools .item.hover {
	background-color:#f16814;
}
.prov_schools .item:hover .scName, .prov_schools .item:hover .contact-way, .prov_schools .item.hover .scName, .prov_schools .item.hover .contact-way {
	color:#ffffff;
}

/* 关于睿凡 */
.ruifan_intro {
  background-color:#f15e04;
}
.ruifan_intro .show_area {
  padding:10px;  
}
.ruifan_intro .text_area {
  padding: 34px 34px 0;
  color:#ffffff;
  line-height:28px;
  font-size:16px;
}
.ruifan_intro .text_area p {
  margin-bottom:30px;
}

.rf_mission {
  width:100%;
  background:url(../img/aboutruifan/mission-bg.jpg) no-repeat;
  background-size:cover;
}
.rf_mission .center_declaration {
  width:300px;
  margin-left:auto;
  margin-right:auto;
  padding-top:30px;
  padding-bottom:50px;
}
.rf_mission .center_declaration .cd_title {
  font-size:36px;
  color:#f15e04;
  line-height:74px;
  font-weight:bold;
}
.rf_mission .center_declaration .cd_text {
  font-size: 30px;
  color: #f15e04;
  line-height:64px;
  border-top:1px solid #f15e04;
  border-bottom:1px solid #f15e04;
}
.ruifan_intro .text_area {
  padding: 34px 34px 0;
  color: #ffffff;
  line-height: 28px;
  font-size: 16px;
}
.ruifan_intro .text_area p {
  margin-bottom: 30px;
}

.rf_principle {
  margin-top:124px;
  margin-bottom:170px;
  border: 1px solid #eae9eb;
}
.rf_principle .right_con {
  padding:0 30px;
  width:36.9%;
}
.rf_principle .right_con .item_yz {
  border-bottom:1px solid #eae9eb;
  padding:28px 0;
}
.rf_principle .right_con .item_yz .t {
  position:relative;
  font-size:16px;
  line-height:24px;
  color: #0d0d26;
  font-weight:bold;
  padding-left:14px;
}
.rf_principle .right_con .item_yz .t:before {
  position: absolute;
  left:0;
  top:6px;
  content:'';
  width:2px;
  height:13px;
  background-color:#0c0c25;
}
.rf_principle .right_con .item_yz .c {
  font-size:16px;
  line-height:24px;
  color:#666666;
}


/* 适配********************* */
@media (min-width:768px) {
  /* 全省校区 */
	.sonPageBanner {height:325px;margin-bottom:64px;}
  .provCampBanner .banner-item .left-text,
  .aboutRfBanner .banner-item .left-text {
    width: 50%;
    margin-top: 123px;
  }
  .provCampBanner .banner-item .right-pic {
    width: 40%;
    margin-top: 18px;
    margin-right: 22px;
  }
	.prov_schools .item {
		padding:18px 24px;
	  margin-bottom:20px;
	}
	.prov_schools .item .scName {
		margin-bottom:10px;
	  font-size:18px;
		line-height: 28px;
	}
	/* .prov_schools {padding-top:64px;} */
	.prov_schools .item .contact-way {
		font-size:14px;
		line-height:22px;
  }
  
  /* 关于睿凡 */
  .aboutRfBanner .banner-item .left-text {
    margin-left: 36px;
  }  
  .aboutRfBanner .banner-item .right-pic {
    width: 31%;
    margin-top: 40px;
    margin-right: 68px;
  }
  
  .rf_mission .center_declaration {
    width: 300px;
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .rf_mission .center_declaration .cd_title {
    font-size: 36px;
    line-height: 74px;
  }
  .rf_mission .center_declaration .cd_text {
    font-size: 30px;
    line-height: 64px;
  }
  .ruifan_intro .text_area {
    padding: 34px 34px 0;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
  }
  .ruifan_intro .text_area p {
    margin-bottom: 30px;
  }
  
}
@media (min-width:992px) {
  /* 全省校区 */
	.sonPageBanner {height:420px;margin-bottom:82px;}
	.provCampBanner .banner-item .left-text {width:50%;margin-top:159px;}
	.provCampBanner .banner-item .right-pic {width:40%;margin-top:23px;margin-right:29px;}
	.prov_schools .item {
		padding:24px 30px;
	    margin-bottom:24px;
	}
	.prov_schools .item .scName {
		margin-bottom:14px;
	    font-size:21px;
		line-height: 31px;
	}
	/* .prov_schools {padding-top:82px;} */
	.prov_schools .item .contact-way {
		font-size:15px;
		line-height:26px;
  }

  .aboutRfBanner .banner-item .right-pic {
    width: 31%;
    margin-top: 52px;
    margin-right: 88px;
  }


}
@media (min-width:1200px) {
	.container {
	    width: 1200px;
  }
  /* 全省校区 */
  .sonPageBanner {height:520px;margin-bottom:102px;}
  .sonPageBanner .banner-item .left-text,
  .sonPageBanner .banner-item .right-pic {
    width: auto;
  }
	.provCampBanner .banner-item .left-text {margin-top:197px;}
	.provCampBanner .banner-item .right-pic {margin-top:28px;margin-right:36px;}
	.prov_schools .item {
		padding:28px 40px;
	    margin-bottom:30px;
	}
	.prov_schools .item .scName {
		margin-bottom:15px;
	}
  /* .prov_schools {padding-top:102px;} */

  /* 关于睿凡 */
  .aboutRfBanner .banner-item .left-text {
    margin-top: 197px;
    margin-left:59px;
  }  
  .aboutRfBanner .banner-item .right-pic {
    margin-top: 65px;
    margin-right: 110px;
  }
  .ruifan_intro {
    margin-top: 12px;
    margin-bottom: 123px;
  }
  .rf_mission .center_declaration {
    width:300px;
    padding-top: 30px;
    padding-bottom: 50px;    
  }
  .rf_mission .center_declaration .cd_title {
    font-size: 36px;
    line-height: 74px;
  }
  .rf_mission .center_declaration .cd_text {
    font-size: 30px;
    line-height: 64px;
  }
  .ruifan_intro .text_area {
    padding: 34px 34px 0;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
  }
  .ruifan_intro .text_area p {
    margin-bottom: 30px;
  }

  .rf_principle {
    margin-top: 124px;
    margin-bottom: 170px;
  }
  .rf_principle .right_con {
    padding: 0 30px;
    width: 36.9%;
  }
  .rf_principle .right_con .item_yz {
    padding: 28px 0;
  }
  .rf_principle .right_con .item_yz .t {
    font-size: 16px;
    line-height: 24px;
    padding-left: 14px;
  }
  .rf_principle .right_con .item_yz .c {
    font-size: 16px;
    line-height: 24px;
  }
}


@media (min-width:992px) and (max-width:1199px) {
  /* 全省校区 */
	.prov_schools .item {
		height:171px;
  }
  /* 关于睿凡 */
  .ruifan_intro {
    margin-top: 9px;
    margin-bottom: 99px;
  }
  .rf_principle {
    margin-top: 100px;
    margin-bottom: 137px;
  }
  .rf_principle .left_pic {
    width: 55%;
    margin-top: 30px;
  }
}

@media (min-width:768px) and (max-width:991px) {
  /* 全省校区 */
	.prov_schools .item {
		height:140px;
  }
  /* 关于睿凡 */
  .ruifan_intro {
    margin-top: 7px;
    margin-bottom: 76px;
  }
  .rf_principle {
    margin-top: 77px;
    margin-bottom: 106px;
  }
  .rf_principle .left_pic {
    width:80%;
    margin:20px auto 0;
    float:none;
  }
  .rf_principle .right_con {
    padding: 0 30px;
    width: 100%;
  }
  .rf_principle .right_con .item_yz {
    width:50%;
    float:left;
    padding: 28px 0;
  }
}

@media (max-width:767px) {
  /* 全省校区 */
	.sonPageBanner {height:162px;margin-bottom:30px;}
  .provCampBanner .banner-item .left-text,
  .aboutRfBanner .banner-item .left-text {
    margin: 0 auto;
    width: 70%;
    float: none;
    margin-top: 0.60rem;
  }
  .provCampBanner .banner-item .left-text img,
  .aboutRfBanner .banner-item .left-text img {
    max-height: 102px;
    max-width: 242px;
    margin:0 auto;
  }
	.prov_schools .item {
		padding:10px 12px;
		margin-bottom:15px;
	}
	.prov_schools .item .scName {
		margin-bottom:10px;
	}
  /* 关于睿凡 */
  .aboutRfBanner .banner-item .left-text {
    width: 80%;
    margin-top: 0.97rem;
  }
  .ruifan_intro {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .rf_mission .center_declaration {
    width: 80%;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .rf_mission .center_declaration .cd_title {
    font-size: 26px;
    line-height: 56px;
  }
  .rf_mission .center_declaration .cd_text {
    font-size: 18px;
    line-height: 45px;
  }
  .ruifan_intro .text_area {
    padding: 5px 10px 0;
    line-height: 26px;
    font-size: 14px;
  }
  .ruifan_intro .text_area p {
    margin-bottom: 10px;
  }
  .rf_principle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .rf_principle .right_con {
    padding: 0 10px;
    width: 100%;
  }
  .rf_principle .right_con .item_yz {
    padding: 15px 0;
  }

}