/*banner*/
.uidWrapper .banner-wrapper{
 
}

/*中考是孩子未来第一场战场*/
 
.child-life-list{
  display: flex;
  align-items:stretch
}
.child-life-list .item{
  width: 50%;
  background: #fdedde;
}
.child-life-list .item:nth-child(1) img{
  display: block;
}
.child-life-list .item2{
  padding: 75px 40px 0;
}
.child-life-list .item p{
  line-height: 2.1;
  text-align: center;
  font-size: 16px;
  color: #333333;
}
.child-life-list .item2 .global-btn{
  margin-top: 40px;
}

/* 睿凡注重提升孩子5大能力 */
.child-ability-index .list{
  display: flex;
  justify-content:space-between;
}
.child-ability-index .list {
  margin-left: -15px;
  margin-right: -15px;
}
.child-ability-index .list>div {
  width: 20%;;
  padding-left: 8px;
  padding-right: 8px;
  
}
.child-ability-index .list .item {
  padding: 40px 0 37px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.08);
}
.child-ability-index .list .item .icon {
  text-align: center;
}
.child-ability-index .list .item h2 {
  padding: 30px 0 0;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
   color: #000;
}
/*年中考学魁喜报榜*/
.child-result-index .list{
  display: flex;
  justify-content:space-between;
}
.child-result-index .list {
  margin-left: -15px;
  margin-right: -15px;
}
.child-result-index .list>div {
  width: 20%;;
  padding-left: 8px;
  padding-right: 8px;
  
}
.child-result-index .list .item {
  padding: 5px 5px 0;
  margin-bottom: 20px;
  position: relative;
  border-radius: 6px;
  background: #f15e04;
}
.child-result-index .list .item .icon {
  text-align: center;
}
.child-result-index .list .item .icon img{
  width: 100%;
}
.child-result-index .list .item h2 {
  padding: 15px 0;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
   color: #fff;
}
.child-result-index .list .item h2 em{
  font-weight: bold;
}
.child-result-index .list .item h2 span{
  padding-top: 4px;
  display: block;
}
.child-result-index .global-btn,
.child-plane-index .global-btn{
  margin:50px 0 0;
}
/* 初中全年级全科目定制学习方案 提分不再难 */
.child-plane-index .plane-kecheng,
.child-plane-index .plane-cont{
  display: flex;
  justify-content: space-between;
}
.child-plane-index .plane-kecheng{
  margin-bottom: 40px;
}
.child-plane-index .plane-kecheng li{
  padding: 0 40px;
  height: 48px;
  line-height: 48px;
  border-radius: 24px;
  border: 1px solid #15a153;
  font-weight: normal;
  font-size: 24px;
  color: #15a153;
}
.child-plane-index .plane-kecheng li:nth-child(1){
  border: 1px solid #15a153;
  color: #15a153;
}
.child-plane-index .plane-kecheng li:nth-child(2){
  border: 1px solid #fe6c53;
  color: #fe6c53;
}

.child-plane-index .plane-kecheng li:nth-child(3){
  border: 1px solid #609bd2;
  color: #609bd2;
}
.child-plane-index .plane-kecheng li:nth-child(4){
  border: 1px solid #f39800;
  color: #f39800;
}
.child-plane-index .plane-kecheng li:nth-child(5){
  border: 1px solid #009944;
  color: #009944;
}
.child-plane-index .plane-kecheng li:nth-child(6){
  border: 1px solid #fe6c53;
  color: #fe6c53;
}
.child-plane-index .plane-kecheng li:nth-child(7){
  border: 1px solid #448aca;
  color: #448aca;
}
.child-plane-index .plane-cont li{
  flex: 1;
  position: relative;
}
.child-plane-index .plane-cont li img{
  width: 100%;
}
.child-plane-index .plane-cont li p{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  line-height: 1.2;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.child-plane-index .plane-cont li p span{
  display: block;
}



@media(max-width:767px){
  .child-result-index .global-btn, .child-plane-index .global-btn{
    margin:30px 0;
  }
  .title-wrapper span.year img{
    width: 90px;
  }
  .uidWrapper .banner-wrapper .slideimg1 {
    background: url('../img/zhongkao/zhongkaobanner-bg.jpg') no-repeat center bottom;
    background-size: cover;
  }
  .child-life-content{
    padding-top: 0;
  }
  .child-life-list .item{
    width: 100%;
  }
  .child-life-list .item2{
    padding: 30px 15px 40px;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 20px;
  }

  .child-ability-index .list{
    flex-wrap: wrap;
  }
  .child-ability-index .list{
    padding-left: 7px;
    padding-right: 7px;
  }
  .child-ability-index .list>div:nth-child(1),
  .child-ability-index .list>div:nth-child(2) {
    width: 50%;
  }
  .child-ability-index .list>div:nth-child(3) {
    width: 100%;
  }
  .child-ability-index .list>div:nth-child(3) .item{
    padding: 20px 0;
  }
  .child-ability-index .list>div:nth-child(4),
  .child-ability-index .list>div:nth-child(5) {
    width: 50%;
  }
  .child-ability-index .list .item h2 {
    font-size: 22px;
  }
  
  .child-result-index .list{
    padding-left: 7px;
    padding-right: 7px;
  }
  .child-result-index .list{
    flex-wrap: wrap;
  }
  .child-result-index .list>div:nth-child(1),
  .child-result-index .list>div:nth-child(2),
  .child-result-index .list>div:nth-child(3) {
    width: 33.33%;
  }
  .child-result-index .list>div:nth-child(4),
  .child-result-index .list>div:nth-child(5) {
    width: 50%;
  }
  .child-result-index .list .item h2{
    font-size: 12px;
  }
  .child-plane-index .plane-kecheng {
    margin-bottom: 10px;
  }
  .child-plane-index .plane-kecheng li{
    height: auto;
    padding: 8px 10px 8px 15px;
    line-height: 1;
    border-radius: 100%;
    font-size: 16px;
  }
  .child-plane-index .plane-cont{
    flex-wrap: wrap;
  }
  .child-plane-index .plane-cont li{
    margin-top:15px;
    width: 33.33%;
    flex: 0 0 33.33%;
  }
  .child-plane-index .plane-cont li p{
    font-size: 16px;
    bottom: 18px;
  }
}
@media(min-width:768px) and (max-width:992px){
  .child-life-content{
    padding-top: 30px;
  }
  .child-life-list .item{
    width: 100%;
  }
  .child-life-list .item2{
    padding: 40px 40px 40px;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 25px;
  }
  .child-ability-index .list .item h2 {
    font-size: 20px;
  }
  .child-plane-index .plane-kecheng li{
    height: auto;
    padding: 15px;
    border-radius: 100%;
  }
  .child-plane-index .plane-cont li p{
    font-size: 14px;
    bottom: 20px;
  }
}

@media(min-width:992px) and (max-width:1200px){

  .child-life-list .item2{
    padding: 40px 40px 0;
  }
  .child-life-list .item2 .global-btn{
    margin-top: 20px;
  }
  .child-plane-index .plane-cont li p{
    bottom: 18px;
  }
}